h1{
    color:blueviolet;
    font-family: 'Pacifico', cursive;
    text-align: center;
    background-color: beige;
}
h2{
    color: blue;
    font-family: 'Tourney', cursive;
    text-align: center;
    background-color: yellow;
}
h3{
    color: grey;
    font-family: 'Tangerine', cursive;
    text-align: left;
}
h4{
    color:rgb(255, 0, 0);
    font-family: 'Monoton', cursive;
    text-align: end;
}
body{
    background-color:antiquewhite;
}